<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <form method="POST">
    URL : <input type="url" required value="https://www.codeproject.com/" name="url" size="150">
    <br/>
    <input type="submit" name="generate" value="Ganerate" />
  </form>
</body>

</html>